/node_modules
/Properties

/.vs/lms/v15
/lms.user
/lms.sln
/lms.phpproj.user
/lms.phpproj

# Composer
/composer.lock
/composer.phar
/vendor

# Linux
*~
*.swp

# Windows
Thumbs.db
desktop.ini

/public/hot
/public/storage

/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env