// Fonts
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700,800");
// npm install npm-font-open-sans --save-dev
@import '../../node_modules/npm-font-open-sans/open-sans';

// Variables
// @import "variables";

// Bootstrap
// $icon-font-path: "../fonts/bootstrap/";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

// npm i --save @fortawesome/fontawesome-free
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import '~purecss-sass/vendor/assets/stylesheets/purecss/base';
@import '~purecss-sass/vendor/assets/stylesheets/purecss/buttons';
@import '~purecss-sass/vendor/assets/stylesheets/purecss/forms';
@import '~purecss-sass/vendor/assets/stylesheets/purecss/menus';
@import '~purecss-sass/vendor/assets/stylesheets/purecss/tables';
@import '~purecss-sass/vendor/assets/stylesheets/purecss/grids';
@import '~purecss-sass/vendor/assets/stylesheets/purecss/grids-responsive';



.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.pure-form select {
    height: 2.5em;
}