html, body  
{
    font-family:"Raleway", sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}
.fontface1
{
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    color: #99cc00;
}

.title{
    margin-top: 1em;
    margin-bottom: 50px;
    padding-bottom: 1em;
    text-align: center;
    line-height: 1;
    border-bottom: 1px solid red;
    font-family: "Marvel", sans-serif;
  }

  .marvel{
    color: #E41030;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
  }
  
